In [180]:
# Importing Libraries:
import pandas as pd
import numpy as np

In [181]:
# Reading the data
data = pd.read_csv('updated.csv', encoding= 'unicode_escape') 
data=data.drop(['Unnamed: 0'], axis=1)
data

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests
0,Renaissance Hotel,0,342,2018,July,27,1,0,0,2,...,C,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0
1,Renaissance Hotel,0,737,2018,July,27,1,0,0,2,...,C,4,No Deposit,NaN,NaN,0,Transient,0.00,0,0
2,Renaissance Hotel,0,7,2018,July,27,1,0,1,1,...,C,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0
3,Renaissance Hotel,0,13,2018,July,27,1,0,1,1,...,A,0,No Deposit,304.0,NaN,0,Transient,75.00,0,0
4,Renaissance Hotel,0,14,2018,July,27,1,0,2,2,...,A,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,JW Marriott Hotel,0,23,2017,August,35,30,2,5,2,...,A,0,No Deposit,394.0,NaN,0,Transient,96.14,0,0
119386,JW Marriott Hotel,0,102,2017,August,35,31,2,5,3,...,E,0,No Deposit,9.0,NaN,0,Transient,225.43,0,2
119387,JW Marriott Hotel,0,34,2017,August,35,31,2,5,2,...,D,0,No Deposit,9.0,NaN,0,Transient,157.71,0,4
119388,JW Marriott Hotel,0,109,2017,August,35,31,2,5,2,...,A,0,No Deposit,89.0,NaN,0,Transient,104.40,0,0
119389,JW Marriott Hotel,0,205,2017,August,35,29,2,7,2,...,A,0,No Deposit,9.0,NaN,0,Transient,151.20,0,2

Data Cleaning

In [182]:
# Number of rows and columns in the data set
rows,cols=data.shape

In [183]:
#Total number of duplicated rows
data.duplicated().sum()

32259

In [184]:
# Dropping duplicated rows
data=data.drop_duplicates()

In [185]:
# Checking if there are missing data
data.isnull().values.any()

True

In [186]:
#Missing values in the data
nullData=data.isnull().sum()
nullData

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              4
babies                                0
meal                                  0
country                             451
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                             12154
company                           81883
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
dtype: int64

In [187]:
# Percentage of missing data: ---> 3.7% of data are null values
data_count = np.product(data.shape)
(nullData.sum()/data_count)*100

3.739593058252754

In [188]:
# Percentage of missing data in each column
data.isnull().sum() / data.shape[0] * 100

hotel                              0.000000
is_canceled                        0.000000
lead_time                          0.000000
arrival_date_year                  0.000000
arrival_date_month                 0.000000
arrival_date_week_number           0.000000
arrival_date_day_of_month          0.000000
stays_in_weekend_nights            0.000000
stays_in_week_nights               0.000000
adults                             0.000000
children                           0.004591
babies                             0.000000
meal                               0.000000
country                            0.517611
distribution_channel               0.000000
is_repeated_guest                  0.000000
previous_cancellations             0.000000
previous_bookings_not_canceled     0.000000
reserved_room_type                 0.000000
assigned_room_type                 0.000000
booking_changes                    0.000000
deposit_type                       0.000000
agent                             13.949111
company                           93.976885
days_in_waiting_list               0.000000
customer_type                      0.000000
adr                                0.000000
required_car_parking_spaces        0.000000
total_of_special_requests          0.000000
dtype: float64

In [189]:
# Dropping the Company column as it is 94% missing dsta
data=data.drop(['company'], axis=1)
# Dropping rows with missing data since it does not exceed 15%
data = data.dropna(axis=0)
# Ensuring that there are no missing data
data.isnull().values.any()

False

In [190]:
#The number of nights stayed 
data['duration_of_stay'] = data['stays_in_weekend_nights'] + data['stays_in_week_nights']

In [191]:
# Ensuring that there are no missing data
print(data.isnull().values.any())
# Saving the cleaned data to a csv to be used late
data.to_csv('cleaned.csv')

False

In [192]:
# Filtering the data to get the each hotel at separate dataframe
JW_Marriott= data.copy()
x=JW_Marriott.loc[(JW_Marriott['hotel'] != 'JW Marriott Hotel')].index
#Dropping all the rows which is neither of the airlines
JW_Marriott.drop(x , inplace = True )
JW_Marriott
# Saving the JW_Marriott data as csv
JW_Marriott.to_csv('JW_Marriott.csv')

In [193]:
# Filtering the data to get the each hotel at separate dataframe
Renaissance_Hotel= data.copy()
x=Renaissance_Hotel.loc[(Renaissance_Hotel['hotel'] != 'Renaissance Hotel')].index
#Dropping all the rows which is neither of the airlines
Renaissance_Hotel.drop(x , inplace = True )
Renaissance_Hotel
# Saving the Renaissance_Hotel data as csv
Renaissance_Hotel.to_csv('Renaissance_Hotel.csv')

In [194]:
# Ensuring that there is no null values in the dataframes after splitting them 
print(Renaissance_Hotel.isnull().values.any())
print(JW_Marriott.isnull().values.any())

False
False